@font-face {
  font-family: 'Cafe24Ssurround';
  src: url("../assets/fonts/Cafe24Ssurround.ttf") format('truetype');
}

@font-face {
  font-family: 'MYYeongnamnu';
  src: url("../assets/fonts/MYYeongnamnu.ttf") format('truetype');
}