<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866754240940-aju0a5gec1trhev2r5scr3f5t045je0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866754240940-aju0a5gec1trhev2r5scr3f5t045je0e</string>
	<key>API_KEY</key>
	<string>AIzaSyAlakgfcNi3FnrOJ21WSIMjCyoLz27I4LI</string>
	<key>GCM_SENDER_ID</key>
	<string>866754240940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firstpartners.masterpick</string>
	<key>PROJECT_ID</key>
	<string>masterpick-28dc4</string>
	<key>STORAGE_BUCKET</key>
	<string>masterpick-28dc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866754240940:ios:c7eac299062cd2968a1a09</string>
</dict>
</plist>